node-red-flows/conversation.json
[{"id":"c2e30ce1.5b499","type":"watson-conversation-v1","z":"c1a6ff15.3f115","name":"","workspaceid":" f6557440-38fb-4ae4-9e50-46c75a459f88","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":430,"y":200,"wires":[["ac466f4c.15e88"]]},{"id":"3470990f.a9c866","type":"twitter out","z":"c1a6ff15.3f115","twitter":"","name":"Tweets as Answer","x":793.8888888888889,"y":195.55555555555554,"wires":[]},{"id":"e675cd06.b2578","type":"twitter in","z":"c1a6ff15.3f115","twitter":"","tags":"#pollutionmadrid","user":"false","name":"Pollution Madrid","topic":"tweets","inputs":1,"x":120,"y":200,"wires":[["a665ac26.602f4"]]},{"id":"ac466f4c.15e88","type":"function","z":"c1a6ff15.3f115","name":"Get Text","func":"msg.payload = msg.payload.output.text[0];return msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["3470990f.a9c866"]]},{"id":"a665ac26.602f4","type":"function","z":"c1a6ff15.3f115","name":"Get Tweet Text","func":"msg.payload = msg.tweet.text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["c2e30ce1.5b499"]]},{"id":"f638e037.f07bc","type":"comment","z":"c1a6ff15.3f115","name":"Pollution Conversation","info":"","x":140,"y":100,"wires":[]}]
