node-red-flows/weather-iot-alumbrado.json
[{"id":"497ff84e.18d5a8","type":"weather_insights","z":"d5f63f18.00f35","name":"Daily Forecast","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"es-ES","x":220,"y":160,"wires":[["9874fc7d.4a33d"]]},{"id":"9ebacbfc.61a4f8","type":"inject","z":"d5f63f18.00f35","name":"Localizaci칩n IBM","topic":"","payload":"42.84998,-2.67268","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["497ff84e.18d5a8"]]},{"id":"cc40b7f3.4c4b88","type":"comment","z":"d5f63f18.00f35","name":"Weather Company - Amanecer","info":"","x":150,"y":40,"wires":[]},{"id":"9874fc7d.4a33d","type":"function","z":"d5f63f18.00f35","name":"Check sunrise","func":"msg.payload = msg.forecasts[0].sunrise;\nvar date = new Date(msg.payload);\nvar hours = date.toLocaleTimeString('es-ES', {hour12: false, timeZone: 'Europe/Madrid'});\nhours = hours.substr(0, hours.indexOf(':'));\n\nvar actualDate = new Date();\nvar actualHours = actualDate.toLocaleTimeString('es-ES', {hour12: false, timeZone: 'Europe/Madrid'});\nactualHours = actualHours.substr(0, actualHours.indexOf(':'));\n\nmsg.time = {};\nmsg.time.hour = parseInt(hours);\nmsg.time.minutes = date.getMinutes();\nmsg.time.seconds = date.getSeconds();\nmsg.time.ActualHour = parseInt(actualHours);\n\nif(msg.time.ActualHour >= msg.time.hour)\n    msg.payload = {\"d\":{\"option\":\"0\"}};\nelse\n    msg.payload = {\"d\":{\"option\":\"0\"}};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["90b9f08b.5a561","9a47d0c1.3caad"]]},{"id":"90b9f08b.5a561","type":"debug","z":"d5f63f18.00f35","name":"Encender Farola por hora de amanecer","active":false,"console":"false","complete":"true","x":740,"y":40,"wires":[]},{"id":"9a47d0c1.3caad","type":"ibmiot out","z":"d5f63f18.00f35","authentication":"apiKey","apiKey":"9eeac5d5.dcb4c8","outputType":"cmd","deviceId":"raspi3","deviceType":"Raspberry","eventCommandType":"light","format":"json","data":"light status","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":160,"wires":[]},{"id":"52737193.4fbe5","type":"weather_insights","z":"d5f63f18.00f35","name":"Daily Forecast","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"es-ES","x":320,"y":360,"wires":[["15458f19.609ba1"]]},{"id":"f7c4be7c.efbed","type":"inject","z":"d5f63f18.00f35","name":"Localizaci칩n IBM","topic":"","payload":"42.84998,-2.67268","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["52737193.4fbe5"]]},{"id":"15458f19.609ba1","type":"debug","z":"d5f63f18.00f35","name":"Apagar Farola por hora de atardecer","active":false,"console":"false","complete":"true","x":750,"y":260,"wires":[]},{"id":"a72262cb.b0fdc","type":"ibmiot out","z":"d5f63f18.00f35","authentication":"apiKey","apiKey":"9eeac5d5.dcb4c8","outputType":"cmd","deviceId":"raspi3","deviceType":"Raspberry","eventCommandType":"light","format":"json","data":"light status","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":360,"wires":[]},{"id":"89f9cbef.87e2b8","type":"function","z":"d5f63f18.00f35","name":"Check sunset ","func":"msg.payload = msg.forecasts[0].sunset;\nvar date = new Date(msg.payload);\nvar hours = date.toLocaleTimeString('es-ES', {hour12: false, timeZone: 'Europe/Madrid'});\nhours = hours.substr(0, hours.indexOf(':'));\n\nvar actualDate = new Date();\nvar actualHours = actualDate.toLocaleTimeString('es-ES', {hour12: false, timeZone: 'Europe/Madrid'});\nactualHours = actualHours.substr(0, actualHours.indexOf(':'));\n\nmsg.time = {};\nmsg.time.hour = parseInt(hours);\nmsg.time.minutes = date.getMinutes();\nmsg.time.seconds = date.getSeconds();\nmsg.time.ActualHour = parseInt(actualHours);\n\nif(msg.time.ActualHour < msg.time.hour)\n    msg.payload = {\"d\":{\"option\":\"0\"}};\nelse\n    msg.payload ={\"d\":{\"option\":\"1\"}};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["15458f19.609ba1","a72262cb.b0fdc"]]},{"id":"12121c7.e869be4","type":"comment","z":"d5f63f18.00f35","name":"Weather Company - Atardecer","info":"","x":140,"y":240,"wires":[]},{"id":"c5a0e171.11fec","type":"comment","z":"d5f63f18.00f35","name":"Weather Company - Nublado","info":"","x":140,"y":420,"wires":[]},{"id":"7f3c64c0.87cf7c","type":"weather_insights","z":"d5f63f18.00f35","name":"Current Observations","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"es-ES","x":380,"y":480,"wires":[["fecc6973.0171c8","2790cf21.a63f"]]},{"id":"fbe70c81.5de8f","type":"inject","z":"d5f63f18.00f35","name":"Localizaci칩n IBM","topic":"","payload":"42.84998,-2.67268","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":500,"wires":[["7f3c64c0.87cf7c"]]},{"id":"2790cf21.a63f","type":"debug","z":"d5f63f18.00f35","name":"Encender Farola si est치 nublado","active":false,"console":"false","complete":"true","x":770,"y":480,"wires":[]},{"id":"61b49bab.5a82b4","type":"ibmiot out","z":"d5f63f18.00f35","authentication":"apiKey","apiKey":"9eeac5d5.dcb4c8","outputType":"cmd","deviceId":"raspi3","deviceType":"Raspberry","eventCommandType":"light","format":"json","data":"light status","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":560,"wires":[]},{"id":"fecc6973.0171c8","type":"function","z":"d5f63f18.00f35","name":"Check Cloudy","func":"msg.payload = msg.observation.wx_phrase;\n\n\n\nif(msg.payload.localeCompare(\"Nublado\")===0)\n    msg.payload = {\"d\":{\"option\":\"1\"}};\nelse\n    msg.payload = {\"d\":{\"option\":\"0\"}};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":560,"wires":[["2790cf21.a63f","61b49bab.5a82b4"]]},{"id":"9eeac5d5.dcb4c8","type":"ibmiot","z":"","name":"Bluemix App","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
